/* payment.css */
body {
    font-family: Arial, sans-serif;
    background-color: #b2a4d4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.payment-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.payment-container h1 {
    color: #5a3d6d;
    text-align: center;
}

.exam-details {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-weight: bold;
    color: #5a3d6d;
}

.input-group select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #5a3d6d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #46225e;
}

#paymentMessage {
    text-align: center;
    color: green;
    font-weight: bold;
}
